{
    "rules": {
        "indent": [2, 4],
        "linebreak-style": [0,"unix"],
        "semi": [ 2, "always" ],
        "no-cond-assign": [1, "except-parens"],
        "no-console": [0],
        "prefer-arrow-callback": [1],
        "no-unused-vars": [1]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
