# Logs
logs
*.log
npm-debug.log*
.ftppass

#build folders
node_modules
dist
dist-prod

# Optional npm cache directory
.npm

### Loot Hoarder Specifics ###
# deployable zip file, created with gulp zip
*.zip 
